<template>
  <form>
    <div class="row">
      <div class="col-md-6">
        <label for="name">
          Name
          <input type="text" name="name">
        </label>
      </div>
      <div class="col-md-6">
        <label for="name">
          Email
          <input type="text" name="email">
        </label>
      </div>
      <div class="col-12">
        <label for="message">
          Message
          <textarea name="message" id="message" cols="30" rows="10"></textarea>
        </label>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
</template>

<script>
export default {
  name: "ContactForm"
}
</script>

<style lang="scss">
label {
  display: flex;
  flex-direction: column;
  input {
    width: 100%;
  }
}
textarea {
  width: 100%;
}
</style>