<template>
  <header>
    <NuxtLink to="/">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" xml:space="preserve">
        <rect x="20" y="40" width="20" height="20" style="fill:#613395;"></rect>
        <rect x="20" width="20" height="20" style="fill:#009ED4;"></rect>
        <path d="M20,0C9,0,0,9,0,20h20V0z" style="fill:#3266B3;"></path>
        <path d="M60,40c0-11-9-20-20-20v20H60z" style="fill:#0A93CE;"></path>
        <path d="M0,20c0,11,9,20,20,20V20H0z" style="fill:#484EA4;"></path>
        <path d="M0,60c0-11,9-20,20-20v20H0z" style="fill:#B800A1;"></path>
        <path d="M60,0c0,11-9,20-20,20V0H60z" style="fill:#27BDF4;"></path>
        <path d="M40,60c11,0,20-9,20-20H40V60z" style="fill:#1F7BBF;"></path>
      </svg>
    </NuxtLink>
    <div class="links">
    <NuxtLink to="/">Home</NuxtLink>
    <NuxtLink to="/contact">Contact</NuxtLink>
    </div>
  </header>
</template>

<script>
export default {
  name: "Header"
}
</script>

<style lang="scss" scoped>
header {
  padding: 10px 0;
  margin-bottom: 40px;
  display: flex;
  .links {
    margin-left: auto;
    a {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
</style>