<template>
  <div class="container">
    <Header />
    <h1>This is the blog page</h1>
    <div class="row">
      <div v-for="post in posts" class="col-sm-6 col-md-4 col-lg-3" :id=post.id>
        <div class="card p-2">
          <h2>{{ post.title.rendered }}</h2>
          {{ post.excerpt.rendered }}
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";

export default {
  name: "Blog",
  components: {
    Header
  },
  data() {
    return {
      posts: []
    }
  },
  methods: {

  },
  created() {
    // GET request using fetch with error handling
    fetch("https://solutionagency.net/wp-json/wp/v2/posts")
      .then(async response => {
        const data = await response.json();

        // check for error response
        if (!response.ok) {
          // get error message from body or default to response statusText
          const error = (data && data.message) || response.statusText;
          return Promise.reject(error);
        }

        this.posts = data;

        console.log(data);
      })
      .catch(error => {
        this.errorMessage = error;
        console.error("There was an error!", error);
    });
  }
}
</script>

<style>
.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
