<template>
  <div class="container">
    <Header />
    <h1>This is the contact page</h1>
    <ContactForm />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import ContactForm from "@/components/ContactForm.vue";

export default {
  name: "Contact",
  components: {
    Header,
    ContactForm
  },
  data() {
    return {
      
    }
  },
  methods: {

  },
  created() {
    
  }
}
</script>

<style lang="scss">

</style>
